.v-stepper-item--selected .v-stepper-item__avatar.v-avatar, .v-stepper-item--complete .v-stepper-item__avatar.v-avatar {
    background: rgb(var(--v-theme-primary)) !important;
}

.v-stepper-item__avatar.v-avatar {
    background: rgba(var(--v-theme-primary), var(--v-medium-emphasis-opacity)) !important;
    color: rgb(var(--v-theme-on-primary)) !important;
}