
.form-container {
  position: absolute;
  right: 0;
  width: 80%;
  padding: 20px;
  border-radius: 8px;
}

.alert {
  position: fixed;
  top: 10%;
  right: 20px;
  z-index: 999;
}

.cus-btn {
  border: 2px solid #3f99f3;
  background-color: #3f99f3;
  color: white;
  margin-left: 20px;
  margin-bottom: 8px;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px 20px 5px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}
.cus-btn:hover {
  background-color: #3f99f3;
  color: white;
}

.custom-label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}
.headline{
  padding-top: 20px;
  font-weight: bold;
}

.list-item-spacing {
  margin-bottom: 12px;
}

.list-item-title {
  font-size: 1em;
  font-weight: 500;
}

.note-text {
  font-size: 0.9rem;
  margin-left: 37px;
  color: #464646;
}