.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.h-100vh {
    height: 100vh;
}

.gap-2 {
    gap: 8px;
}

.gap-3 {
    gap: 16px;
}

.gap-4 {
    gap: 24px;
}

.text-white {
    color: rgb(255, 255, 255) !important;
}

// border
.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.opacity-1 {
    opacity: 1 !important;
}

.opacity-50 {
    opacity: 0.5;
}

.z-auto.v-card {
    z-index: auto;
}

.obj-cover {
    object-fit: cover;
}

.cursor-move {
    cursor: move;
}

//Date time picker
input[type="date"],
input[type="time"] {
    display: block !important;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: block !important;
}

.ProseMirror {
    min-height: 150px;
}

.upload-btn-wrapper {
    width: 150px;
    height: 140px;
    margin: 0 auto;
    box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);

    input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
    }
}

.bg-transparent {
    background-color: transparent !important;
}

@media screen and (max-width:1368px) and (min-width:1200px) {
    .space-20 {
        padding: 30px 20px !important;
    }
}