html {
    .bg-success {
        color: white !important;
    }

    .bg-primary {
        color: $white !important;
    }

    .bg-secondary {
        color: $white !important;
    }

    .bg-warning {
        color: $white !important;
    }
}

.border,
.v-divider {
    border-color: rgba(var(--v-border-color)) !important;
}
.avtar-border {
    border: 2px solid rgb(var(--v-theme-surface)) !important;
}
.subtext{
    font-size: $font-size-root;
    line-height: 1.75rem;
}
.v-dialog{
    &.dialog-mw{
        max-width: 800px;
    }
}
.round-40 {
    height: 40px;
    width: 40px;
}