@import './variables';
@import 'vuetify/styles.scss';
@import './override';
@import './layout/text';
@import './layout/reboot';
@import './layout/container';
@import './layout/sidebar';
@import './layout/rtl';
@import './layout/topbar';
@import './layout/horizontal';
@import './layout/dark';
@import './layout/customizer';

@import './components/VDatatable';
@import './components/VAlert';
@import './components/VButtons';
@import './components/VCard';
@import './components/VCarousel';
@import './components/VField';
@import './components/VList';
@import './components/VInput';
@import './components/VNavigationDrawer';
@import './components/VShadow';
@import './components/VSwitch';
@import './components/VSelectionControl';
@import './components/VTextField';
@import './components/VTextarea';
@import './components/VTabs';
@import './components/VTable';
@import './components/VExpansionpanel';
@import './components/VDatatables';
@import './components/VStepper';
@import './components/VLabs';

@import './pages/datatable';
@import './pages/dashboards';
@import './pages/editor';
@import './pages/authentication';
@import './pages/apps';

@import 'vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css';
